{%  extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url("{% static '../../static/img/about.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;

    }
</style>

<div>

    <body>
        <div style="color: ivory;">
        <h1>
            <center> We do things differently.</center>
        </h1><br>
        <p>Blog-Site is not like any other platform on the internet.
            Our sole purpose is to help you find compelling ideas, knowledge, and perspectives. We don’t serve ads—we
            serve you, the curious reader who loves to learn new things. Blog-Site is home to thousands of independent
            voices,
            and we combine humans and technology to find the best reading for you—and filter out the rest.<>

    
                <h1>
                    <center><strong>Expand your reading.
                            Expand your mind.</strong></center>
                </h1>
                <h3>A customizable reading experience, made just for you.
                    With the power of the network, different ways to engage with stories, and
                    the ability to follow your favorite topics, writers, and publications, you’re in
                    control of your reading experience.
                    So the stories that matter most to you are always at your fingertips.</h3>
                <h1>
                    <center> <strong> Ideas and perspectives you won’t find anywhere else.</strong></center>
                </h1>

    </body>
</div>


{% endblock %}